.ohm{
  
  border-radius: 50%;
  width: 15%;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 50px;
}

body {
  Background-color: #b2e7f1;
  
}

hr {
  border-color: rgb(2, 31, 53);
  border-width: 5px;
  border-style: dotted none none;
  opacity: 50%;
  /* height: 10px; */
  width: 50%;
}
h1,h3{
color:#0e1f3a;
}

.dropdown-menu hr {
  border-top: 1px solid #06143d;
  width: 100%;
}
.navbar-expand-lg navbar-dark bg-dark{
  width: 100%;
  
}
.container-fluid{
  font-family: 'Kanit', sans-serif;
  text-align: center;
}
.me{
  margin-left: 20px;
}
.Education{
  margin-bottom: 25px;
}
.Employment_History{
  margin-bottom: 25px;
}
.Skills{
  margin-bottom: 25px;
}
/* Contact */
.content{
  background-color: #0e1f3a;
  color: white;
  border-radius: 24px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
  text-align: center;
  padding: 100px;
  font-size: 20px;
}
.content h1{
  color: white;
  padding-bottom: 20px;
}
.button{
  display: flex ;
  align-items: center;
  justify-content: center;
}